body{
margin:0;
font-family:Segoe UI;
background:#f4f7fb;
}

/* NAVBAR */
.topbar{
background:#1b5e20;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
font-size:20px;
font-weight:bold;
}

.nav-btn{
background:white;
color:#1b5e20;
padding:8px 15px;
margin-left:10px;
border-radius:6px;
text-decoration:none;
}

/* HERO */
.hero{
text-align:center;
padding:80px 20px;
background:linear-gradient(#e8f5e9,#ffffff);
}

.primary-btn{
background:#1b5e20;
color:white;
padding:12px 25px;
margin:10px;
border-radius:6px;
text-decoration:none;
}

.secondary-btn{
background:#37474f;
color:white;
padding:12px 25px;
border-radius:6px;
text-decoration:none;
}

/* DASHBOARD */
.layout{
display:flex;
height:100vh;
}

.sidebar{
width:220px;
background:#263238;
color:white;
padding:20px;
}

.sidebar li{
padding:12px;
cursor:pointer;
}

.sidebar li:hover{
background:#37474f;
}

.content{
flex:1;
padding:25px;
}

.card-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

.logout-btn{
background:#d32f2f;
color:white;
border:none;
padding:8px 15px;
border-radius:6px;
}

/* FORM */
.form-container{
width:320px;
margin:100px auto;
background:white;
padding:25px;
border-radius:10px;
text-align:center;
}

.form-container input{
width:90%;
padding:10px;
margin:10px 0;
}

.form-container button{
padding:10px 20px;
background:#1b5e20;
color:white;
border:none;
}

/* ADMIN */
.admin-container{
display:flex;
gap:30px;
padding:30px;
}

.form-card{
background:white;
padding:20px;
border-radius:10px;
width:300px;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
}
.card h3{
color:#1b5e20;
margin-bottom:10px;
}

.card p{
margin:6px 0;
}
